*~
nohup.out
**/.symcheck
trace.html
TAGS

# benchmark executables
SrcConcDB
SrcFiniteLeader
SrcFirewall
SrcHowait
SrcParikh
SrcPipe
SrcReslock
SrcRing
SrcSieve
SrcStateFactory
SrcStutter
SrcStutter
DatabaseSample

.stack-work/
